.header {
	background-color: var(--less-black);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-row-flex{
	display: flex;
	gap: 12px;
    justify-content: center;
    align-items: center;
}

.header-col-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
}

#avatar {
	width: 100px;
	clip-path: circle(40%);
}

#username-header {
	font-size: 1.4em;
	text-transform: capitalize;
}

