{# Home page: where you choose your username and the room you want to enter #}
{% extends 'main/main_app_base.html' %}
{% load static %}

{% block title %} Room Choice {% endblock %}

{% block content %}
    <form action="{% url 'index' %}" method="post" autocomplete="off" >
        {% csrf_token %}
        <div class="row mb-2">
            <div id="">
                What chat room would you like to enter?
            </div>
            <select id="room-name-input" class="clean-input" name="room_name" >
                {% for room in rooms %}
                    <option class="room-option" value={{room.name}} > {{ room.name }} </option>
                {% endfor %}
            </select>
            <div> Enter your username </div>
            <input id="username-input" type="text" class="input text-input clean-input" name="username" placeholder="Username..." >
            <small class="warning"> Username required </small>
        </div>
        <input id="room-name-submit" class="btn blue-btn" type="submit" value="Enter"  >
    </form>

    <div class="announcement-card">
	<div class="annou-title"> Announcement </div>
	<ul>
	    <li class="annou-warning"> Please do not share personal informations </li>
	    <li> Please be respectful in the chat &#128518; </li>
	    <li> Any username is allowed, as it is just a demonstration (and hopefully fun &#128579;) project </li>
	</ul>
    </div>

    <div class="announcement-card">
	<div class="annou-title"> Attribution &#128079; &#129782; </div>
	<ul id="attribution-list">
	    <li>Speech bubble favicon created by  
		<a href="https://www.flaticon.com/free-icons/speech-bubble" title="speech bubble icons">
		    Pixel perfect - Flaticon
		</a>
	    </li>
	    <li> User icon created by <a href="https://www.flaticon.com/free-icons/user" title="user icons">Freepik - Flaticon</a></li>
	</ul>
    </div>

    <div id="footer">
	Made by <a href="https://www.github.com/harimbolasantatra" target='_blank'>Harimbola Santatra</a>
    </div>

    <script>
        document.querySelector('#username-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        const enterBtn = document.querySelector("#room-name-submit");
        const usernameInput = document.querySelector("#username-input");
        const parentDiv = usernameInput.parentNode;


	// enable submit button and remove warning 
	function removeWarning () {
	    const warningDiv = document.querySelector('small.warning');
	    // if the div exist, ...
	    if ( warningDiv ) {
		enterBtn.removeAttribute('disabled');
		parentDiv.removeChild(warningDiv);
	    }
	    // else, do nothing
	}

        // disable submit button and add warning
        function addWarning () {
	    // if warning div exist so don't add another warning anymore
	    const wD = document.querySelector('small.warning');
	    if ( !wD ) {
		enterBtn.setAttribute('disabled', true);
		const warningDiv = document.createElement('small');
		warningDiv.className = 'warning';
		warningDiv.textContent = 'Username required';
		parentDiv.appendChild(warningDiv);
	    }
        }

        // WARNING AFTER ENTER ROOM WITHOUT USERNAME
        usernameInput.addEventListener('keyup', () => {
            // if username is not empty, enable submit button and remove warning 
            if ( usernameInput.value !== "" ) {
                removeWarning();
            }
            else {
                addWarning();
            }
        })

    </script>

{% endblock %}
